<h1>Form dang ky</h1>
<form [formGroup]="register" class="col-md-6 offset-md-3">
  <input formControlName="email" type="email" class="form-control">

<div class="alert alert-danger" role="alert"
     *ngIf="register.get('email').invalid &&register.get('email').touched">
  Invalid email!
</div>
  <fieldset formGroupName= "pwGroup">
    <input formControlName="password">
    <input formControlName="confirmPassword">
  </fieldset>
<div class="alert alert-danger" role="alert"
     *ngIf=
       "register.hasError('passwordnotmatch',
['pwGroup']) && register.get('pwGroup').touched">
  Password does not match!
</div>
</form>

